{% extends "base.html" %}

{% block title %}
Cabinets
{% endblock %}

{% block content %}

{% if name %}
<form action="/cabinets/" method="POST">
    {% csrf_token %}
    <p class="font-weight-light">Найти свободный кабинет</p>
    <td><input type="date" name="begin" min="{{ date }}"></td>
    <td><input type="date" name="finish" min="{{ date }}"></td>
    <td><input class="btn btn-light btn-sm" type="submit" value="Найти"></td>
</form>
{% endif %}

<br>
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th scope="col">Кабинет</th>
        <th scope="col">Занятые даты</th>
    </tr>
    </thead>
    <tbody>
    {% for cabinet, booking in context %}
    <tr>
        <td><a href="/cabinet/{{ cabinet.room_number }}">{{ cabinet }}</a></td>
        <td>
            {% for book in booking %}
            {{ book }}
            <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

